
#Food{
    background-color: rgb(51, 6, 6);
}
h2{
    color: white;
}
.sai{
    color: white;
}
.card{
    background-color: black;
}
h5{
    color: white;
    text-decoration: None;
}
h2{
    text-decoration: none;
}
